@import url('https://fonts.googleapis.com/css?family=Karla');
table {
    width: 100%;
}
td.flag {
    border: 1px solid black;
    font-size: 36px;
    height: 100px;
    text-align: center;
}
div#col-1,
div#col-2,
div#col-3 {
	border: 1px dashed red;
	border-radius: 12px;
	font-family: 'Karla';
	padding: 12px;
	text-align: center;
	width: 33%;
}

div#odometer {
    background-color: black;
    color: white;
    font-size: 60px;
}