@import url('https://fonts.googleapis.com/css?family=Karla');
table {
    width: 100%;
}
h4 {
padding:2px;
margin:2px;
}
h5 {
padding:0px;
margin:0px;
margin-top:20px;
}
td.flag {
    border: 1px solid black;
    font-size: 36px;
    height: 100px;
    text-align: center;
}
div#col-1 {
	border: 2px dashed red;
	font-family: 'Karla';
	padding: 12px;
	float: left;
	text-align: center;
	margin:2px;
	}
div#col-2 {
	border: 2px dashed red;
	font-family: 'Karla';
	padding: 12px;
	float: left;
	text-align: center;
	margin:2px;
	}
div#col-3 {
	border: 2px dashed red;
	font-family: 'Karla';
	padding: 12px;
	float: left;
	text-align:center;
	margin:2px;	
	}
div#odometer {
    	background-color: black;
	width: 70%;
 	color: white;
    	font-size: 40px;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}
div#speedometer {
	float: left;
}
div#rpm {
	float: left;
}
div#packAmpHours,
div#packChargeState,
div#packVoltage {
}
div#motorControlerTemp,
div#motorTemp,
div#batteryHeatsinkTemp {
}
div#flag-fine{
	text-align: center;
	border:2px black;
	border-style:solid;
	padding:3px;
	margin-bottom:5px;
	margin-top:15px;
	margin-left:auto;
	margin-right:auto;
	font-size:30px;
	width:50%;
}
div#flag-warning{
	text-align: center;
	border:2px black;
	border-style:solid;
	padding:3px;
	margin-bottom:5px;
	margin-top:15px;
	margin-left:auto;
	margin-right:auto;
	font-size:30px;
	width:50%;
	background-color:red;
	color:white;
}
div#row-1{
}